:root {
    --primary-color: #114b5f;
    --secondary-color: #028090;
    --accent1-color:#e4fde1;
    --accent2-color:#456990;
    --heading-font: 'Roboto', sans-serif;
    --p-font: 'Inter',sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

nav a{
    margin: 1rem;
}

h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    margin: 0;
    padding: 0;
}


h2 {
    color: var(--primary-color);
    font: var(--heading-font);
    margin: 0;
    padding: 0;
    font-size:xx-large;
    text-align: center;
    display: block;
}

p, a {
    color : var(--secondary-color);
    font-family: var(--p-font);
}



header{
    margin: 1rem auto;
    display:grid;
    grid-template-columns: 120px 1fr ;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
}


div{
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

main div div{
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 2rem;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section div{
    display: flex;
    flex-direction: row;
    margin: 0 2rem 2rem 2rem;
    align-items: center;
}

section div p {
    height: 250px;
    justify-content: center;
    align-content: center;
}


main div img {
    width: 250px;
    height: auto;
    border: 1px solid green;
    margin: 1rem;
}

footer {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer div{
    height: auto;
    display: flex;
    flex-direction: row;
}





body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
}

legend{
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}

label,input,button,select,textarea{
    font-family: Roboto, Arial, sans-serif;
}

label{
    text-align: center;
    padding-right: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover{
    background-color: darkgreen;
}

footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 2fr 1fr;
    margin: 0.5rem 0;
}

.column2{
    grid-template-columns: 2fr 2fr;
}

.contact-us{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contact-us2{
    height: 350px;
    display: flex;
    flex-direction: row;
}
.map{
    height: auto;
}
.employees{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-element h1 {
    margin: 0;
}

.contact-element p {
    height: auto;
}
